<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="10" name="Suite" parallel="tests">
   <!--  <suite-files>
    	<suite-file path="./src\test\resources\suitefiles\suite.xml" />
    	<suite-file path="./src\test\resources\suitefiles\suite2.xml" />
    </suite-files> -->
    <listeners>
		<listener class-name="com.atmecs.testing.extentreport.Extent"></listener>
	</listeners>
	<test name="Test">
		<parameter name="url" value="https://www.redbus.in/" />
		<parameter name="browser" value="MY,CHROME" />
		<classes>
			<class name="com.atmecs.testing.testscripts.TestVerifyCanvas" />
		</classes>
	</test>
	<test name="Test1">
		<parameter name="url" value="https://www.redbus.in/" />
		<parameter name="browser" value="MY,CHROME" />
		<classes>
			<class name="com.atmecs.testing.testscripts.TestVerifyCanvas" />
		</classes>
	</test>
	
</suite>